@model IEnumerable<Inclusion_sports.Models.Calorie>

@{
    ViewBag.Title = "Calorie Calculator";
    Layout = "~/Views/_MyLayoutPage.cshtml";
}

@*<h4>Add Users via Excel</h4>
	<hr />
	@using (Html.BeginForm("UploadExcel", "Calories", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return myFunction()" }))
	{
		<div class="form-horizontal">
			<div class="form-group">
				<div class="control-label col-md-2">Download Format:</div>
				<div class="col-md-10">
					<a href="/User/DownloadExcel/"><img src="~/excel.ico" width="25" height="25" title="Download Excel format" alt="excel" /></a>
				</div>
			</div>
			<div class="form-group">
				<div class="control-label col-md-2">Excel:</div>
				<div class="col-md-10">
					<input type="file" id="FileUpload" name="FileUpload" class="" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Upload" id="btnSubmit" class="btn btn-primary" />
				</div>
			</div>
		</div>
	}*@

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SportName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SportDegree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Degree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Intercept)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SportName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SportDegree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Degree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Coef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Intercept)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@

@section Scripts{

	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


	<script type="text/javascript">
		$(document).ready(function() {

		   $("#txtSearch").autocomplete({

				source: '@Url.Action("GetSportNames","Calories")',

				minLength: 1

		   });


		});

	</script>

}





<section class="viewHeader" , style="top: 100px;">
	<div class="jumbotron">
		<div class="title">
			<h4>CALCULATE CALORIES BURNED</h4>
			<p>Choose the type of sports you played along with the duration and calculate how much calories you have burned</p>

		</div>
	</div>
</section>

<div class="form-group">
	@using (Html.BeginForm("Index", "Calories", FormMethod.Post))
	{	

			<p>Sport Type: </p>@Html.TextBox("sportstype", null, new { id = "txtSearch", Class = "autosuggest" }) <br />
			<p>Weight (in Kg)</p>@Html.TextBox("weight", null, new { @type = "float" })<br />
			<p>Duration (in hours)</p>@Html.TextBox("duration", null, new { @type = "float" })<br />

		<br />
		<br />

			<button class="button button-secondary button-pipaluk" id="submitt">Calculate Calorie</button>


	}
</div>
@{
	var data = ViewBag.Message;
}
<h3>@data</h3>
