<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="~/css/animate.css" rel="stylesheet" />
	<link href="~/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/css/font-awesome.min.css" rel="stylesheet" />
	<link href="~/css/main.css" rel="stylesheet" />
	<link href="~/css/responsive.css" rel="stylesheet" />
	<link href="~/css/style.css" rel="stylesheet" />
	<a href="~/fonts/fontawesome-webfont.eot"></a>
	<a href="~/fonts/fontawesome-webfont.ttf"></a>
	<a href="~/fonts/fontawesome-webfont.woff"></a>
	<a href="~/fonts/fontawesome-webfont.woff2"></a>
	<a href="~/fonts/FontAwesome.otf"></a>
	<a href="~/fonts/glyphicons-halflings-regular.eot"></a>
	<a href="~/fonts/glyphicons-halflings-regular.ttf"></a>
	<a href="~/fonts/glyphicons-halflings-regular.woff"></a>
	<a href="~/fonts/glyphicons-halflings-regular.woff2"></a>
	<a href="~/fonts/montserrat-bold-webfont.eot"></a>
	<a href="~/fonts/montserrat-bold-webfont.ttf"></a>
	<a href="~/fonts/montserrat-bold-webfont.woff"></a>
	<a href="~/fonts/montserrat-bold-webfont.woff2"></a>
	<a href="~/fonts/montserrat-hairline-webfont.eot"></a>
	<a href="~/fonts/montserrat-hairline-webfont.ttf"></a>
	<a href="~/fonts/montserrat-hairline-webfont.woff"></a>
	<a href="~/fonts/montserrat-hairline-webfont.woff2"></a>
	<a href="~/fonts/montserrat-light-webfont.eot"></a>
	<a href="~/fonts/montserrat-light-webfont.ttf"></a>
	<a href="~/fonts/montserrat-light-webfont.woff"></a>
	<a href="~/fonts/montserrat-light-webfont.woff2"></a>
	<a href="~/fonts/montserrat-regular-webfont.eot"></a>
	<a href="~/fonts/montserrat-regular-webfont.ttf"></a>
	<a href="~/fonts/montserrat-regular-webfont.woff"></a>
	<a href="~/fonts/montserrat-regular-webfont.woff2"></a>
	<link href="~/fonts/montserrat-fonts.css" rel="stylesheet" />
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/counter.js"></script>
	<script src="~/js/jquery-1.11.3.min.js"></script>
	<script src="~/js/jquery.isotope.min.js"></script>
	<script src="~/js/main.js"></script>
	<script src="~/js/owl.carousel.min.js"></script>
	<script src="~/js/own-menu.js"></script>
</head>
<body>
	<div id="wrap">
		<div id="main-wrapper">
			<header class="main-header">
				<div class="container-fuild">
					<div class="logo"> <a href="#."> <img src="~/images/project_logo.png" alt="Inclusion through Sports"></a> </div>

					<!-- Nav -->
					<nav>
						<ul id="ownmenu" class="ownmenu">
							<li>@Html.ActionLink("Home", "Index", "Home")</li>
							<li>@Html.ActionLink("Find Clubs", "Index", "Clubs")</li>
							<li>@Html.ActionLink("Events", "Index", "Events")</li>
						</ul>
					</nav>
				</div>
			</header>
		</div>
	</div>
	<div>
		@RenderBody()
	</div>
	<!--======= FOOTER UP =========-->
	<div id="wrap">
		<div id="main-wrapper">
			<section class="footer-up">
				<div class="col-md-12">
					<div class="contact">
						<p>Inclusion thorugh sports</p>
					</div>
				</div>
			</section>
		</div>
	</div>
	<script src="~/js/jquery-1.11.3.min.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	@RenderSection("Scripts", false)
</body>
</html>
