<style>
	.container-fuild img {
		height: 56px;
	}

	.ownmenu .my-class {
		font-size: 16px;
	}

	.main-header .logo {
		margin: 20px 0px;
			float: left;
		display: inline;
	}

	.main-header .logo {
		margin: 20px 0px;
		/*	float: left;*/
	display: inline;
		font-family: 'Montserrat', sans-serif;
	}

	.main-header .logo:before {
		background-color: #c50000;
		content: '';
		display: block;
		height: 3px;
		width: 72px;
		margin-bottom: 5px;
	}

		.main-header .logo:after {
			background-color: #c50000;
			content: '';
			display: block;
			position: relative;
			left: 145px;
			bottom: 0;
			height: 3px;
			width: 100px;
			margin-bottom: 0.25em;
		}


	.main-header {
		padding-bottom: 0px;
	}

		.main-header .container {
			height: 95px;
		}
</style>
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link href="~/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/css/font-awesome.min.css" rel="stylesheet" />
	<link href="~/css/main.css" rel="stylesheet" />
	<link href="~/css/style.css" rel="stylesheet" />
	<link href="~/css/responsive.css" rel="stylesheet" />
	<link href="~/css/animate.css" rel="stylesheet" />
	@*@Styles.Render("~/Content/css")*@
	@*<link href="~/css/Header.css" rel="stylesheet" />*@
	<link href="~/css/Footer.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="~/rs-plugin/css/settings.css" media="screen" />
	@* This is for the mapbox map. *@
	<script src='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
	@*This is used for the Geocoding Mapbox API*@
	<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.2.0/mapbox-glgeocoder.min.js'></script>
	<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-glgeocoder/v2.2.0/mapbox-gl-geocoder.css' type='text/css' />
	<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
	<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
	<a href="~/fonts/montserrat-bold-webfont.eot"></a>
	<a href="~/fonts/montserrat-bold-webfont.ttf"></a>
	<a href="~/fonts/montserrat-bold-webfont.woff"></a>
	<a href="~/fonts/montserrat-bold-webfont.woff2"></a>
	<a href="~/fonts/montserrat-hairline-webfont.eot"></a>
	<a href="~/fonts/montserrat-hairline-webfont.ttf"></a>
	<a href="~/fonts/montserrat-hairline-webfont.woff"></a>
	<a href="~/fonts/montserrat-hairline-webfont.woff2"></a>
	<a href="~/fonts/montserrat-light-webfont.eot"></a>
	<a href="~/fonts/montserrat-light-webfont.ttf"></a>
	<a href="~/fonts/montserrat-light-webfont.woff"></a>
	<a href="~/fonts/montserrat-light-webfont.woff2"></a>
	<a href="~/fonts/montserrat-regular-webfont.eot"></a>
	<a href="~/fonts/montserrat-regular-webfont.ttf"></a>
	<a href="~/fonts/montserrat-regular-webfont.woff"></a>
	<a href="~/fonts/montserrat-regular-webfont.woff2"></a>
	<link href="~/fonts/montserrat-fonts.css" rel="stylesheet" />
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/counter.js"></script>
	<script src="~/js/jquery-1.11.3.min.js"></script>
	<script src="~/js/jquery.isotope.min.js"></script>
	<script src="~/js/main.js"></script>
	<script src="~/js/owl.carousel.min.js"></script>
	<script src="~/js/own-menu.js"></script>
</head>
<body>
	@*<div id="wrap">
		<div id="main-wrapper">
			<header class="main-header">
				<div class="container-fuild">
					<div class="logo"> <a href="#."> <img src="~/images/project_logo.png" alt="Inclusion through Sports"></a> </div>*@
	<div id="wrap" class="no-padding">
		<div id="main-wrapper">
			<header class="main-header">
				<div class="container col-md-12">
					<div class="logo"><h4>Pride Melb<span>Sports.</span></h4></div>
					<!-- Nav -->
					<nav>
						<ul id="ownmenu" class="ownmenu">
							<li>@Html.ActionLink("Find Clubs", "Index", "Maps")</li>
							<li>@Html.ActionLink("Events", "Index", "Events")</li>
							<li>@Html.ActionLink("Home", "Index", "Home")</li>
						</ul>
					</nav>
				</div>
			</header>
		</div>
	</div>
	<div>
		@RenderBody()
	</div>
	@*<footer class="footer-section">
		<div class="container">
			<div class="footer-content pt-5 pb-5">
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="footer-widget">
							<div class="footer-logo">
								<img src="~/images/logo_ver2.png" class="img-fluid" alt="logo">
							</div>
							<div class="footer-text">
								<h3>PRIDE MELBSPORTS.</h3>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="footer-widget">
							<div class="footer-widget-heading">
								<h3>Useful Links</h3>
							</div>
							<ul>
								<li>@Html.ActionLink("Home", "Index", "Home")</li>
								<li><a href="#services">Services</a></li>
								<li><a href="#about">About Us</a></li>
								<li>@Html.ActionLink("Find Clubs", "Index", "Maps")</li>
								<li>@Html.ActionLink("Events", "Index", "Events")</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>*@
	<script src="~/js/jquery-1.11.3.min.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	@RenderSection("Scripts", false)
</body>
</html>
