<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
	<title>@ViewBag.Title - Pride MelbSports</title>
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<link rel="icon" href="~/images2/favicon.ico" type="image/x-icon">
	<!-- Stylesheets-->
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,500,600,700%7CPoppins:400%7CTeko:300,400">
	<link rel="stylesheet" href="~/css2/bootstrap.css">
	<link rel="stylesheet" href="~/css2/fonts.css">
	<link rel="stylesheet" href="~/css2/style.css">
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<style>
		.ie-panel {
			display: none;
			background: #212121;
			padding: 10px 0;
			box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
			clear: both;
			text-align: center;
			position: relative;
			z-index: 1;
		}

		html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
			display: block;
		}

		.rd-navbar-brand:before {
			background-color: #c50000;
			content: '';
			display: block;
			height: 3px;
			width: 62px;
			margin-bottom: 3px;
		}

		.rd-navbar-brand:after {
			background-color: #c50000;
			content: '';
			display: block;
			position: relative;
			left: 135px;
			bottom: 0;
			height: 3px;
			width: 85px;
			margin-bottom: 0;
		}
	</style>
</head>
<body>
	<div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="~/images2/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
	<div class="preloader">
		<div class="preloader-body">
			<div class="cssload-container">
				<div class="cssload-speeding-wheel"></div>
			</div>
			<p>Loading...</p>
		</div>
	</div>
	<div class="page">
		<header class="section page-header">
			<!-- RD Navbar-->
			<div class="rd-navbar-wrap">
				<nav class="rd-navbar rd-navbar-corporate" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="106px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
					<div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
					<div class="rd-navbar-aside-outer">
						<div class="rd-navbar-aside">
							<!-- RD Navbar Panel-->
							<div class="rd-navbar-panel">
								<!-- RD Navbar Toggle-->
								<button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
								<!-- RD Navbar Brand-->
								<div class="rd-navbar-brand">
									<!--Brand--><h4 style="text-align:center">Pride Melb<strong>Sports.</strong></h4>
								</div>
							</div>
						</div>
					</div>
					<div class="rd-navbar-main-outer">
						<div class="rd-navbar-main">
							<div class="rd-navbar-nav-wrap">

								<!-- RD Navbar Nav-->
								<ul class="rd-navbar-nav">
									<li class="rd-nav-item">
										@Html.ActionLink("HOME", "Index", "Home", null, new { @class = "rd-nav-link" })
									</li>
									<li class="rd-nav-item">
										@Html.ActionLink("EVENT CALENDAR", "Index", "Events", null, new { @class = "rd-nav-link" })
									</li>
									<li class="rd-nav-item">
										@Html.ActionLink("LGBT CLUBS", "Index", "Maps", null, new { @class = "rd-nav-link" })
									</li>
									<li class="rd-nav-item">
										@Html.ActionLink("KNOW YOUR RIGHTS", "Index", "Rights", null, new { @class = "rd-nav-link" })
									</li>
									<li class="rd-nav-item">
										@Html.ActionLink("FACTS", "Index", "TrustHeteros", null, new { @class = "rd-nav-link" })
									</li>
									<li class="rd-nav-item">
										@Html.ActionLink("YOGA", "Index", "Yoga", null, new { @class = "rd-nav-link" })
									</li>
									<li class="rd-nav-item">
										@Html.ActionLink("CALORIE CALCULATOR", "Index", "Calories", null, new { @class = "rd-nav-link" })
									</li>
								</ul>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</header>
		<div>
			@RenderBody()
		</div>
		<!-- Page Footer-->
		<footer class="section footer-corporate context-dark">
			<div class="footer-corporate-inset">
				<div class="container">
					<div class="row row-40 justify-content-lg-between">
						<div class="col-sm-6 col-md-12 col-lg-3 col-xl-4">
							<div class="oh-desktop">
								<div class="wow slideInRight" data-wow-delay="0s">
									<h6 class="text-spacing-100 text-uppercase">Pride MelbSports.<br /></h6>
									<img class="center" src="~/images/logo_ver2.png" />
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-5 col-lg-3 col-xl-4">
							<div class="oh-desktop">
								<div class="wow slideInDown" data-wow-delay="0s">
									<h6 class="text-spacing-100 text-uppercase">Popular news</h6>
									<!-- Post Minimal 2-->
									<article class="post post-minimal-2">
										<p class="post-minimal-2-title"><a href="https://www.outsports.com/2022/4/30/23047590/couper-gunn-gay-athlete-sexual-assault-survivor-column">I’m a gay athlete and a sexual assault survivor</a></p>
										<div class="post-minimal-2-time">
											<time datetime="2022-04-30">April 30, 2022</time>
										</div>
									</article>
									<!-- Post Minimal 2-->
									<article class="post post-minimal-2">
										<p class="post-minimal-2-title"><a href="https://www.outsports.com/2022/4/22/23037543/danielle-mclean-journalist-transgender-hockey">This trans hockey player found her support system on the ice</a></p>
										<div class="post-minimal-2-time">
											<time datetime="2022-04-22">April 22, 2022</time>
										</div>
									</article>
								</div>
							</div>
						</div>
						<div class="col-sm-11 col-md-7 col-lg-5 col-xl-4">
							<div class="oh-desktop">
								<div class="wow slideInLeft" data-wow-delay="0s">
									<h6 class="text-spacing-100 text-uppercase">Quick links</h6>
									<ul class="row-6 list-0 list-marked list-marked-md list-marked-secondary list-custom-2">
										<li><a href='@Url.Action("Index", "Maps/Index")'>LGBT Clubs</a></li>
										<li><a href='@Url.Action("Index", "Events/Index")'>Event Calendar</a></li>
										<li><a href='@Url.Action("Index", "Rights/Index")'>Know your rights</a></li>
										<li><a href="@Url.Action("Index", "TrustHeteros/Index")">Facts</a></li>
										<li><a href="@Url.Action("Index", "Yoga/Index")">Learn Yoga</a></li>
										<li><a href="@Url.Action("Index", "Calories/Index")">Learn Yoga</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-corporate-bottom-panel">
				<div class="container">
					<div class="row justfy-content-xl-space-berween row-10 align-items-md-center2">
						<div class="col-sm-6 col-md-4 order-sm-first">
							<!-- Rights-->
							<p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>Wonder Tour</span>. All Rights Reserved. Design by <a href="https://www.templatemonster.com">TemplateMonster</a></p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<!-- Global Mailform Output-->
	<div class="snackbars" id="form-output-global"></div>
	<!-- Javascript-->
	<script src="~/js2/core.min.js"></script>
	<script src="~/js2/script.js"></script>
	@RenderSection("Scripts", false)
</body>
</html>