@model IEnumerable<Inclusion_sports.Models.tblFile>
@{
	ViewBag.Title = "Facts";
	Layout = "~/Views/_MyLayoutPage.cshtml";
}

<style>
	.jumbotron {
		text-align: center;
		font-family: 'Montserrat', sans-serif;
	}
</style>

@*<h2>Index</h2>
	<h4>Add Users via Excel</h4>
		<hr />
		@using (Html.BeginForm("UploadExcel", "TrustHeteros", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return myFunction()" }))
		{
			<div class="form-horizontal">
				<div class="form-group">
					<div class="control-label col-md-2">Download Format:</div>
					<div class="col-md-10">
						<a href="/User/DownloadExcel/"><img src="~/excel.ico" width="25" height="25" title="Download Excel format" alt="excel" /></a>
					</div>
				</div>
				<div class="form-group">
					<div class="control-label col-md-2">Excel:</div>
					<div class="col-md-10">
						<input type="file" id="FileUpload" name="FileUpload" class="" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" value="Upload" id="btnSubmit" class="btn btn-primary" />
					</div>
				</div>
			</div>
		}

//For video upload. Do not unncomment this for now @Xuancheng
@using (Html.BeginForm("Index", "TrustHeteros", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<input type="file" name="postedFile" />
	<input type="submit" id="btnUpload" value="Upload" />
}
<hr />*@
@*<table cellpadding="0" cellspacing="0">
	@if (Model.Count() > 0)
	{
		foreach (var file in Model)
		{
			<tr>
				<td>
					<u>
						@file.Name
					</u>
					<hr />
					<video id="VideoPlayer" src='@Url.Action("DownloadFile", "TrustHeteros", new {fileId = file.Id})' controls="true"
						   width="400" height="350" loop="true" />
				</td>
			</tr>
		}
	}
</table>*@


<section class="viewHeader" , style="top: 100px;">
	<div class="jumbotron">
		<div class="title">
			<h4>WELLBEING OF LGBT COMMUNITIES</h4>
			<p>Compared with the general population, LGBT people are more likely to face crime. General Social Survey 2020 (GSS 2020)  suggested around 8% of participants with non-mainstream sexual orientations have experienced assault or break-in in the last 12 months, which is 2 times of that for heterosexuals</p>
			<p>This survey also found this community also tend to have lower trust in the healthcare system, the police, and the justice system. </p>
				<p>Switch between Heterosexual and Homosexual community to view the level of trust</p>
			<button class="button button-secondary button-pipaluk" id="ht">Heterosexual group</button>
			<button class="button button-secondary button-pipaluk" id="hm">Homosexual group</button>
		</div>
	</div>
</section>

<section id="charts" style="height:500px ; top:100px">
	<div class="col-lg-12 col-md-12" id="chartContainer" style="height: 400px;"></div>

	<div class="col-lg-12 col-md-12" id="chartContainer2" style="height: 400px; visibility:hidden"></div>
</section>

<section class="viewHeader" , style="top: 100px;">
	<div class="jumbotron">
		<div class="title">
			<h4>DRUG USAGE OF LGBT COMMUNITIES</h4>
			<p>Evidence suggests that, LGBT community are more likely to use tobacco and a range of illicit drugs. Estimates from the 2019 NDSHS indicate that daily smoking among LGBT people has steadily declined from 28% in 2010 to 16% in 2019 (AIHW 2020). However, LGB people are still 1.5 times as likely to smoke daily as heterosexual people.</p>
			<p>Illicit usage of drugs among LGB people has steadily increased from 31.8% in 2010 to 36% in 2019</p>
			<p>Switch between Heterosexual and Homosexual community to compare the drug usage</p>
			<button class="button button-secondary button-pipaluk" id="ht2">Heterosexual group</button>
			<button class="button button-secondary button-pipaluk" id="hm2">Homosexual group</button>
		</div>
	</div>
</section>

<section id="charts2" style="height: 500px; top:100px">
	<div class="col-lg-12 col-md-12" id="chartContainer3" style="height: 400px;"></div>

	<div class="col-lg-12 col-md-12" id="chartContainer4" style="height: 400px; visibility:hidden"></div>

</section>


@section Scripts {
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<script type="text/javascript">

		$(document).ready(function () {
			$("#ht").click(function () {
				$("#chartContainer").show();
				document.getElementById("chartContainer2").style.visibility = "hidden";
			});
			$("#hm").click(function () {
				$("#chartContainer").hide();
				document.getElementById("chartContainer2").style.visibility = "visible";
			});
			$("#ht2").click(function () {
				$("#chartContainer3").show();
				document.getElementById("chartContainer4").style.visibility = "hidden";
			});
			$("#hm2").click(function () {
				$("#chartContainer3").hide();
				document.getElementById("chartContainer4").style.visibility = "visible";
			});
		});

window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "Trust Levels - Heterosexual group",
		fontColor: "#322D31"
	},
	axisY: {
		suffix: "%",
		interval: 20
	},
	toolTip: {
		shared: true
	},
	data: [{
		type: "stackedBar100",
		name: "Strongly agree / Somewhat agree",
		showInLegend: true,
		color: "#7E7D9C",
		yValueFormatString: "#,##0\"%\"",
		indexLabel: "{y}",
		indexLabelFontSize: 17,
		dataPoints: @Html.Raw(ViewBag.DataPoints1),
		indexLabelFontColor: "#F4F6F5"
	},
	{
		type: "stackedBar100",
		name: "Neither agree nor disagree",
		showInLegend: true,
		color: "#ADADC7",
		yValueFormatString: "#,##0\"%\"",
		indexLabel: "{y}",
		indexLabelFontSize: 17,
		dataPoints: @Html.Raw(ViewBag.DataPoints2),
		indexLabelFontColor: "#F4F6F5"
	},
	{
		type: "stackedBar100",
		name: "Somewhat disagree / Strongly disagree",
		showInLegend: true,
		color: "#9897A9",
		yValueFormatString: "#,##0\"%\"",
		indexLabel: "{y}",
		indexLabelFontSize: 17,
		dataPoints: @Html.Raw(ViewBag.DataPoints3),
		indexLabelFontColor: "#F4F6F5"
	}]
});
chart.render();

var chart2 = new CanvasJS.Chart("chartContainer2", {
	animationEnabled: true,
	title: {
		text: "Trust Levels - Homosexual group",
		fontColor: "#322D31"
	},
	axisY: {
		suffix: "%",
		interval: 20
	},
	toolTip: {
		shared: true
	},
	data: [{
		type: "stackedBar100",
		name: "Strongly agree / Somewhat agree",
		showInLegend: true,
		color: "#7E7D9C",
		yValueFormatString: "#,##0\"%\"",
		indexLabel: "{y}",
		indexLabelFontSize: 17,
		dataPoints: @Html.Raw(ViewBag.DataPoints4),
		indexLabelFontColor: "#F4F6F5"
	},
	{
		type: "stackedBar100",
		name: "Neither agree nor disagree",
		showInLegend: true,
		color: "#ADADC7",
		yValueFormatString: "#,##0\"%\"",
		indexLabel: "{y}",
		indexLabelFontSize: 17,
		dataPoints: @Html.Raw(ViewBag.DataPoints5),
		indexLabelFontColor: "#F4F6F5"
	},
	{
		type: "stackedBar100",
		name: "Somewhat disagree / Strongly disagree",
		showInLegend: true,
		color: "#9897A9",
		yValueFormatString: "#,##0\"%\"",
		indexLabel: "{y}",
		indexLabelFontSize: 17,
		dataPoints: @Html.Raw(ViewBag.DataPoints6),
		indexLabelFontColor: "#F4F6F5"
	}]
});
	chart2.render();

var chart3 = new CanvasJS.Chart("chartContainer3", {
	animationEnabled: true,
	title: {
		text: "Drug use - Heterosexual group"
	},
	toolTip: {
		shared: true
	},
	data: [{
		type: "line",
		name: "Tobacco",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints7),
		indexLabelFontColor: "#F4F6F5"
	},
	{
		type: "line",
		name: "Any Illicit drug",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints8),
		indexLabelFontColor: "#F4F6F5"
	},
	{
		type: "line",
		name: "Cannabis",
		dataPoints: @Html.Raw(ViewBag.DataPoints9),
		indexLabelFontColor: "#F4F6F5"
	},
	{
		type: "line",
		name: "Ecstacy",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints10),
		indexLabelFontColor: "#F4F6F5"
	},
	{
		type: "line",
		name: "Meth/amphetamine",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints11),
		indexLabelFontColor: "#F4F6F5"
	},
	{
		type: "line",
		name: "Cocaine",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints12),
		indexLabelFontColor: "#F4F6F5"
	},
	{
		type: "line",
		name: "Hallucinogens",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints13),
		indexLabelFontColor: "#F4F6F5"
	},
	{
		type: "line",
		name: "Inhalants",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints14),
		indexLabelFontColor: "#F4F6F5"
	},
	{
		type: "line",
		name: "Tranquilizers",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints15),
		indexLabelFontColor: "#F4F6F5"
	}

	]
});
chart3.render();

var chart4 = new CanvasJS.Chart("chartContainer4", {
	animationEnabled: true,
	title: {
		text: "Drug use - Homosexual group"
	},
	toolTip: {
		shared: true
	},
	data: [{
		type: "line",
		name: "Tobacco",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints16),
		indexLabelFontColor: "#F4F6F5"
	},
	{
		type: "line",
		name: "Any Illicit drug",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints17),
		indexLabelFontColor: "#F4F6F5"
	},
	{
		type: "line",
		name: "Cannabis",
		dataPoints: @Html.Raw(ViewBag.DataPoints18),
		indexLabelFontColor: "#F4F6F5"
	},
	{
		type: "line",
		name: "Ecstacy",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints19),
		indexLabelFontColor: "#F4F6F5"
	},
	{
		type: "line",
		name: "Meth/amphetamine",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints20),
		indexLabelFontColor: "#F4F6F5"
	},
	{
		type: "line",
		name: "Cocaine",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints21),
		indexLabelFontColor: "#F4F6F5"
	},
	{
		type: "line",
		name: "Hallucinogens",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints22),
		indexLabelFontColor: "#F4F6F5"
	},
	{
		type: "line",
		name: "Inhalants",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints23),
		indexLabelFontColor: "#F4F6F5"
	},
	{
		type: "line",
		name: "Tranquilizers",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints24),
		indexLabelFontColor: "#F4F6F5"
	}

	]
});
chart4.render();


}
	</script>
}

